html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "PrinceValiant";
  src: url("../fonts/PrinceValiant.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeagueGothic-Regular";
  src: url("../fonts/LeagueGothic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --primary-blue: rgb(44 80 77); /
}
body {
  background-image: url("../img/background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}
.game-heading {
  font-family: "PrinceValiant";
  color: var(--primary-blue);
  text-align: center;
  margin-top: 23vh;
  font-size: 15vh;
  text-shadow: 5.5px 5.5px 19px rgb(242 232 198),
    -0.5px 0.5px 14px rgb(242 232 198 / 80%),
    0.5px -0.5px 15px rgb(242 232 198 / 80%),
    -0.5px -0.5px 5px rgba(242, 232, 198, 0.8);
  -webkit-text-stroke: #f2e8c6;
}

.layer {
  position: absolute; /* Stacks layers on top of each other */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0); /* Transparent */
  /* border: 1px solid transparent; For visibility in development */
}
.blur-layer {
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px); /* For Safari support */
  transition: backdrop-filter 2.5s, -webkit-backdrop-filter 2.5s;
  background-color: rgb(255 255 255 / 0%); /* Slight white transparency */
}

/* For medium screens (tablets) */
@media screen and (max-width: 1024px) {
  .game-heading {
    font-size: 10vh; /* Smaller font size */
  }
}

/* For small screens (large phones) */
@media screen and (max-width: 768px) {
  .game-heading {
    font-size: 8vh; /* Even smaller font size */
  }
}

/* For very small screens (phones) */
@media screen and (max-width: 480px) {
  .game-heading {
    font-size: 6vh; /* Smallest font size */
  }
}


.button-container {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  align-items: center;
  gap: 15px; /* Space between buttons */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  margin-top: 15vh;
}

/* Button styles */
.button-container button {
  cursor: pointer;
    display: inline-block;
}
.button-container img{
  width: 10vw;
  transition: transform 0.4s ease;
  cursor: pointer;
}
.button:hover img {
  transform: scale(1.1); /* Scale up the image */
}

/* Hover effect for buttons */
.button-container button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1500px) {
  .button-container  img {
      width: 14vw; /* Make buttons take up more space */
  }
}

@media screen and (max-width: 768px) {
  .button-container {
      flex-direction: column; /* Stack buttons vertically */
      gap: 10px; /* Smaller gap between buttons */
  }

  .button-container  img {
      width: 45vw; /* Make buttons take up more space */
  }
}
#loader-layer{
  display: flex;
  align-items: center;
  justify-content: center;
}
#loader-layer img{
  max-height: 10vh;
}
#layer2{
  display: none;
}
#upperparchment-layer {
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 50vh;
}
#upperparchment-layer img {
  width: 70vw;
  margin: 0vh 15vw;
  height: auto;
}
#lowerparchment-layer{
  z-index: 5;
  top: 150vh;
}
#lowerparchment-layer img {
  width: 70vw;
  margin: 0vh 15vw;
}
#parchment-layer {
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}
#parchment {
  width: 50vw;
  height: 74vh;
  background-image: url('./../img/parchment/parchment.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  clip-path: inset(37vh 0px 37vh 0px);
}
@keyframes moveParchment {
  0% {
    clip-path: inset(37vh 0px 37vh 0px);
  }
  100% {
    clip-path: inset(0vh 0px 0vh 0px);
  }
}
@keyframes moveUpperLayer {
  0% {
    top: 50vh;
  }
  100% {
    top: -50vh;
  }
}
@keyframes moveLowerLayer {
  0% {
    top: 150vh;
  }
  100% {
    top: 50vh;
  }
}
@keyframes moveUpperLayerSecond {
  0% {
    top: -50vh;
  }
  100% {
    top: -87vh;
  }
}
@keyframes moveLowerLayerSecond {
  0% {
    top: 50vh;
  }
  100% {
    top: 87vh;
  }
}
@keyframes reverseUpperLayerSecond {
  0% {
    top: -87vh;
  }
  100% {
    top: -50vh;
  }
}
@keyframes reverseLowerLayerSecond {
  0% {
    top: 87vh;
  }
  100% {
    top: 50vh;
  }
}
@keyframes reverseParchment {
  0% {
    clip-path: inset(0vh 0px 0vh 0px);
  }
  100% {
    clip-path: inset(37vh 0px 37vh 0px);
  }
}
@keyframes reverseUpperLayer {
  0% {
    top: -50vh;
  }
  100% {
    top: 50vh;
  }
}
@keyframes reverseLowerLayer {
  0% {
    top: 50vh;
  }
  100% {
    top: 150vh;
  }
}
@media screen and (max-width: 1153px) {
  #upperparchment-layer img {
    width: 80vw;
    margin: 0vh 10vw;
  }
  #lowerparchment-layer img {
    width: 80vw;
    margin: 0vh 10vw;
  }
  #parchment {
    width: 57vw;
  }
}
@media screen and (max-width: 1153px) {
  #upperparchment-layer img {
    width: 90vw;
    margin: 0vh 5vw;
  }
  #lowerparchment-layer img {
    width: 90vw;
    margin: 0vh 5vw;
  }
  #parchment {
    width: 65vw;
  }
}
#parchment-loader-layer{
  display: none;
  justify-content: center;
  align-items: center;
}
#parchment-loader-layer img{
  max-width: 10vw;
}
.parchment-row-align-right{
  display: flex;
  justify-content: flex-end;
}
.parchment-cross{
  height: 7vh;
    margin: 1%;
    cursor: pointer;
}
.parchment-row-center{
  width: 100%;
  text-align: center;
}
.game-pin-text{
  width: 50%;
  height: 7vh;
  border: 2px solid #472c1a;
  background: none;
  font-size: 4vh;
  color: #809d8e;
  text-align: center;
  margin-top: 4vh;
}
.game-pin-btn{
  margin-top: 2vh;
  width: 51%;
  border: 2px solid;
  font-size: 4vh;
  background: #a97651;
  cursor: pointer;
  height: fit-content;
  padding: 1vh;
}
.parchment-or-text{
  margin-top: 8%;
  margin-bottom: 7%;
  font-size: 3vh;
  color: var(--primary-blue);
}
.game-pin-error{
  margin: 0px;
  color: red;
  display: none;
}
@media screen and (max-width: 500px) {
  .game-pin-text {
    font-size: 3vh;
  }
  .parchment-cross {
    height: 5vh;
    margin: 3%;
  }
  .game-pin-btn {
    font-size: 3vh;
  }
}
.parchment-flex-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.parchment-profile-pic{
  height: 24vh;
  border: 7px solid #4e3e32;
  border-radius: 20px;
  padding: 1vh;
}
.parchment-profile-pic-select{
  height: 7vh;
  cursor: pointer;
}

.court-sessions-container {
  width: 51%;
  margin: 0px 24.5%;
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.court-sessions-display {
  font-size: 4vh;
    color: #000000;
    margin: 0 1vw;
}

.game-pin-btn-court-session-controls {
  width: 10%;
  border: 2px solid #472c1a;
  font-size: 4vh;
  background: #a97651;
  cursor: pointer;
  height: fit-content;
  padding: 1vh;
}
@media screen and (max-width: 860px) {
  .court-sessions-display {
    font-size: 3vh;
  }
  .game-pin-btn-court-session-controls {
    font-size: 2vh;
    width: 15%;
  }
  .court-sessions-container {
    width: 67%;
    margin: 0px 16.5%;
    margin-top: 2vh;
  }
  .parchment-profile-pic {
    height: 15vh;
  }
}
@media screen and (max-width: 350px) {
  .court-sessions-display {
    font-size: 3vh;
  }
  .game-pin-btn-court-session-controls {
    font-size: 2vh;
    width: 15%;
  }
  .court-sessions-container {
    width: 67%;
    margin: 0px 16.5%;
    margin-top: 2vh;
  }
  .parchment-profile-pic {
    height: 10vh;
  }
}
.parchment-wait-game-pin-head{
  text-align: center;
  width: 100%;
  margin: 0px;
  font-size: 20px;
  color: #6c4428;
  margin-top: 3vh;
}
.parchment-wait-game-pin{
  text-align: center;
  width: 100%;
  margin: 0px;
  font-size: 95px;
  color: #b7413b;
}
.parchment-wait{
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.parchment-wait img{
  height: 2vh;
  margin-left: 2%;
}
.parchment-wait p{
  font-size: 2.2vh;
  margin: 1vh 0px;
}
.parchment-wait-character-list{
  display: flex;
  background: #6c4428;
  width: 70%;
  margin: 1vh 15%;
  border-radius: 5px;
  align-items: center;
}
.parchment-wait-character-list img {
  height: 5vh;
  margin: 0.7vh 1vh;
  background: #cfc5c5;
  border-radius: 18vh;
  padding: 0.2vh;
}
.parchment-wait-character-list p{
  font-size: 2.5vh;
  color: #ffffff;
  margin: 0px;
}
.parchment-wait-start-btn{
  text-align: center;
  background-color: #b7413b;
  color: white;
  width: 40%;
  margin: 1vh 30%;
  font-size: 3vh;
  border-radius: 7vh;
  padding: 1vh 0vw;
  cursor: pointer;
  margin-top: 4vh;
}
@media screen and (max-width: 434px) {
  .parchment-wait-game-pin {
    font-size: 69px;
  }
  .parchment-wait-game-pin-head {
    font-size: 16px;
  }
  .parchment-wait-start-btn {
    font-size: 2vh;
  }
  .parchment-wait-character-list p {
    font-size: 2vh;
  }
  .parchment-wait-character-list img {
    height: 4vh;
  }
}
#cards-animation-layer{
  z-index: 8;
  display: none;
  top: -110vh;
}
.cards-roll-area{
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotate(360deg);
  scale: 1.2;
}
.cards-roll-area img{
  position: absolute;
  height: 30vh;
}
.cards-roll-area-img1 {
  transform: rotate(90deg);
  top: 35vh;
  left: 60vw;
}
.cards-roll-area-img2 {
  transform: rotate(90deg);
  top: 35vh;
  left: 31vw;
}
.cards-roll-area-img3 {
  top: 10vh;
  left: calc(50vw - 0.708* 15vh);
}
.cards-roll-area-img4 {
  top: 60vh;
  left: calc(50vw - 0.708* 15vh);
  display: none;
}
@keyframes leftcardrollentry {
  0% {
    left: -10vw;
  }
  100% {
    left: 31vw;
  }
}
@keyframes rightcardrollentry {
  0% {
    left: 100vw;
  }
  100% {
    left: 60vw;
  }
}
@keyframes leftcardrollexit {
  0% {
    left: 31vw;
  }
  100% {
    left: -10vw;
  }
}
@keyframes rightcardrollexit {
  0% {
    left: 60vw;
  }
  100% {
    left: 100vw;
  }
}
@keyframes rotatecardsinitial {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rotatecardscontinue {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
#card-reveal-layer{
  z-index: 9;
  display: none;
}
.cards-roll-reveal-area{
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}
.cards-roll-reveal-area img{
  position: absolute;
  height: 30vh;
  left: calc(50vw - 0.708* 15vh);
  transform: scale(1.2);
  top: 15vh;
  cursor: pointer;
}
#scaling-card{
  z-index: 1;
}
#scaling-card-reveal{
  z-index: 0;
}
@keyframes scalecard {
  0% {
    transform: scale(1.2);
    top: 15vh;
  }
  100% {
    transform: scale(2.2);
    top: 32vh;
  }
}
