<!DOCTYPE html>
<html>
  <head>
    <title>Crownchase</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  </head>
  <body>
    <div id="layer1" class="layer blur-layer" style="z-index: 1"></div>
    <div id="layer2" class="layer" style="z-index: 2">
      <h1 class="game-heading">CROWN CHASE</h1>
      <div class="button-container">
        <div class="button" id="play-with-friends">
          <img
            src="{{ url_for('static', filename='img/buttons/friends.png') }}"
            alt="Play with Friends"
          />
        </div>
        <div class="button" id="play-against-ai">
          <img
            src="{{ url_for('static', filename='img/buttons/ai.png') }}"
            alt="Play against AI"
          />
        </div>
        <div class="button" id="how-to-play">
          <img
            src="{{ url_for('static', filename='img/buttons/tutorial.png') }}"
            alt="How to Play"
          />
        </div>
      </div>
    </div>
    <div id="loader-layer" class="layer" style="z-index: 3">
      <img src="{{ url_for('static', filename='img/loader.gif') }}" />
    </div>
    <div id="upperparchment-layer" class="layer">
      <img
        src="{{ url_for('static', filename='img/parchment/upperparchment.png') }}"
      />
    </div>
    <div id="lowerparchment-layer" class="layer">
      <img
        src="{{ url_for('static', filename='img/parchment/bottomparchment.png') }}"
      />
    </div>
    <div id="parchment-layer" class="layer">
      <div id="parchment"></div>
    </div>
    <div id="parchment-loader-layer" class="layer" style="z-index: 7">
      <img src="{{ url_for('static', filename='img/loader.gif') }}" />
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
